.header1 {
    font-size: 50px;
    text-align:center;
}



.imagemapflowers {
    margin-left: 750px;
    padding:25px;
}

.SwedenProvinceFlowers {
    color:red;
    display: inline-block;
    margin:auto;
}

.SwedenProvinceFlowers:hover {
    color:purple;
}

.paragraph1:hover {
    color:mediumvioletred
}

.starimage {
    height: 100px;
    width: 100px;
    margin:auto;

}
.starimage:hover {
   transition: 2s;
   width:200px;
   height:auto;
   background-color:green;
}

body{
    background-color: greenyellow;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("star.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: 100% 0%;
}
