.box-one {
  background-color: red;
  padding: 20px;
  border:15px solid purple;
  width: 450px;
  height: 450px;
  margin: 20px;
  
}

.box-two {
  background-color: red;
  padding: 20px;
  border: 15px solid purple;
  width: 450px;
  height: 450px;
  margin: 20px;
  
}

.test {
  height: 300px;
  margin: 5px;
  border: 5px double red;
  padding: 10px, 5px, 10px, 5px
}